<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav">
      <h1>Welcome to the message board!</h1>
      <button onclick="location.href='/new';">Create New Message</button>
    </div>

    <% messages.forEach(message => { %>
    <div class="messagePost">
      <p><%= message.text %></p>
      <p>User: <%= message.user %></p>
      <p>Date added: <%= message.added %></p>
    </div>
    <%})%>
  </body>
</html>
