<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome to <%= messages.forEach(message => { }); %></p>

    <% messages.forEach(message => { %>
    <div class="message-post">
      <p><%= message.text %></p>
      <p><%= message.user %></p>
      <p><%= message.added %></p>
    </div>
    <%})%>
  </body>
</html>
